/* You can add global styles to this file, and also import other style files */

.navbar {
  display: flex;
  gap: 16px;
}

.employee-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  align-items: center;
  justify-content: center;
}
